.header-image-row {
  text-align:center;
  background-image: url(../assets/images/bg.gif);
  background-repeat: repeat-x;
  background-color: #B3B3B3;
}

.main-container-row {
  background-color:#1e1b1b;
}

.main-page-container-col {
  text-align: center;
  padding:0;
}

.main-page-container {
}

.main-page-container2 {
  float: right;
  text-align: center;
  width: 400px;
  height: 500px;
  margin-top: -350px;
  text-align:center;
  //font-weight:600;
}

.image-1 {
  floatxxx:right;
  margin-top:58px;
  margin-bottomxx:80px;
}

#links {
  width: 1024px;
  height: 50px;
  background-image: url(../assets/images/links.jpg);
  text-align: right;
  padding-top: 18px;
}

#container {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

#text {
  float: right;
  text-align: center;
  width: 400px;
  height: 500px;
  margin-top: -362px;
}

#footer {
  width: 1024px;
  height: 200px;
  background-image: url(../assets/images/footer.jpg);
  background-repeat: repeat-x;
  margin-top: -112px;
  padding-topxxx: 220px;
}

#body1 {
  background-image: url(../assets/images/bg.gif);
  background-repeat: repeat-x;
  background-color: #B3B3B3;
}
