<div class="container-fluid">
  <div class="row header-image-row">
    <div class="col-sm-12">
  <img src="assets/images/header.jpg" class="img-fluid">
    <img src="assets/images/links.jpg" class="img-fluid">
  </div>
  </div>
  <div class="row main-container-row">
    <div class="com-sm-12 col-md-4 offset-md-2 main-page-container-col">
      <div class="main-page-container">
        <img src="assets/images/image.jpg"  width="563" height="310" alt="Grab 1 Waste Management" class="img-fluid image-1">
      </div>
    </div>
    <div class="col-sm-12 col-md-4 main-page-container-col">
      <div class="main-page-container">
        <div style="color:white;margin-top:12%;float:left;padding:0 10% 0 10%">sssssss dd jk djhdhdj dhjdh jdh jdhd jhdjdh
        kdjdkj djddkd jkdjk djkjdkdd
        dkdjkdjkdjkdjdkjd
        jdkjkdjdkjdkjdkjd
        djkdjkdjkdjdkjdkdjkdjdkj
        </div>
      </div>
    </div>
  </div>
</div>


